<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
<meta content="telephone=no" name="format-detection"/>
<meta name="renderer" content="webkit">
<meta name="description" content="<%= themeConfig.siteDescription %>">
<meta http-equiv="Access-Control-Allow-Origin" content="*">

<title><%= siteTitle %></title>
<link href="<%= themeConfig.domain %>/styles/main.css" type="text/css" rel="stylesheet"/>
<link rel="stylesheet" href="//cdn.bootcss.com/KaTeX/0.10.2/katex.min.css"/>
<script src="//cdn.bootcss.com/KaTeX/0.10.2/katex.min.js"></script>
<script src="//cdn.bootcss.com/KaTeX/0.10.2/contrib/auto-render.min.js"></script>
<script type="text/javascript" src="<%= themeConfig.domain %>/media/scripts/jquery.js"></script>
<script type="text/javascript" src="<%= themeConfig.domain %>/media/scripts/jquery.pjax.min.js"></script>
<script type="text/javascript" src="<%= themeConfig.domain %>/media/scripts/basic.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/gitalk/1.5.0/gitalk.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>
<script async type="text/javascript" src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script async type="text/javascript" src="<%= themeConfig.domain %>/media/scripts/search.js"></script>
<script type="text/javascript">
$(document).pjax('a[target!=_blank]', '#pjax-container', {
	fragment: '#pjax-container',
	timeout: 5000,
	cache: false
});
$(document).on('pjax:complete', function(){  	
	pjax();
});

$(window).on('popstate.pjax', function () {
	pjax();
})

function pjax() {
	$.getScript("//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js");

	if (("#gitalk-container").length > 0 ) {
	$('#mememe').attr('src','//source.unsplash.com/800x400/?arts,weather?'+Math.random());
	$.getScript("//cdn.bootcss.com/KaTeX/0.10.2/katex.min.js");
	$.getScript("//cdn.bootcss.com/KaTeX/0.10.2/contrib/auto-render.min.js");
	$('pre code').each(function(i, block) {
        hljs.highlightBlock(block);
    	});
	}
}
</script>
